{% extends 'invoiced/_layouts/settings' %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.invoiced.getPluginName(), url: url('invoiced') },
    { label: 'Settings', url: url('invoiced/settings') },
    { label: 'General', url: url('invoiced/settings/general') },
] %}

{% set pluginSettings = craft.invoiced.getPluginSettings() %}
{% set templateOptions = [] %}

{% for template in craft.invoiced.getInvoiceTemplates() %}
    {% set templateOptions = templateOptions|merge([{ label: template.name, value: template.id }]) %}
{% endfor %}

{% block content %}

	<h2>{{ 'General settings' }}</h2>

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
        <input type="hidden" name="action" value="invoiced/settings/save-settings">
		{{ redirectInput('invoiced/settings/general') }}
		{{ csrfInput() }}

		{% namespace 'settings' %}

		{% if templateOptions|length %}
			{{ forms.selectField({
                first: true,
                label: 'Default Invoice Template',
                instructions: 'Select a Invoice Template to be used as the default for all new invoices.',
                name: 'defaultInvoiceTemplate',
                options: templateOptions,
                value: pluginSettings.defaultInvoiceTemplate,
            }) }}
		{% else %}
        <div class="field">
            <div class="heading">
                <label>Default Invoice Template</label>
            </div>
            <div class="instructions">
			    <p>No invoice templates exist yet.</p>
            </div>
        </div>
		{% endif %}

		<hr>

        <h2>Default Invoice Values</h2>
        <div class="instructions">
			<p>These values will be used as a default when creating a new invoice.</p>
        </div>

        <div class="field">
            <div class="heading">
                <label>VAT</label>
            </div>
            {{ forms.text({
                type: 'number',
                max: 100,
                name: 'vatFieldDefault',
                value: pluginSettings.vatFieldDefault
            }) }}
        </div>

        <div class="field">
            <div class="heading">
                <label>Phone</label>
            </div>
            {{ forms.text({
                name: 'phoneFieldDefault',
                value: pluginSettings.phoneFieldDefault
            }) }}
        </div>

        <div class="field">
            <div class="heading">
                <label>Email</label>
            </div>
            {{ forms.text({
                name: 'emailFieldDefault',
                value: pluginSettings.emailFieldDefault
            }) }}
        </div>

		{% endnamespace %}

		<input type="submit" class="btn submit" value="{{ 'Save' }}">
	</form>

{% endblock %}
