{% extends 'invoiced/_layouts/settings' %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.invoiced.getPluginName(), url: url('invoiced') },
    { label: 'Settings', url: url('invoiced/settings') },
    { label: 'Invoices', url: url('invoiced/settings/invoices') },
] %}

{% block content %}

	<h2>{{ 'Invoices Settings' }}</h2>


	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		<input type="hidden" name="action" value="invoiced/settings/save-settings">
		{{ redirectInput('invoiced/settings/invoices') }}
		{{ csrfInput() }}

		{% namespace 'settings' %}
		{{ forms.selectField({
            first: true,
            label: 'Default Invoice Template',
            instructions: 'Select a Invoice Template to be used as the default for all new invoices.',
            name: 'defaultInvoiceTemplate',
            options: [{
                label: 'Default Invoice Template',
                value: 'templates/invoiced/invoice_templates/default.twig',
            }],
        }) }}
		{% endnamespace %}

		<hr>

		<input type="submit" class="btn submit" value="{{ 'Save' }}">
	</form>

{% endblock %}
