{% extends 'invoiced/_layouts/index' %}

{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle("nethaven\\invoiced\\resources\\InvoiceAssets") %}

{% set crumbs = [
    { label: craft.invoiced.getPluginName() | t('invoiced'), url: url('invoiced') },
    { label: 'Invoiced' | t('invoiced'), url: url('invoiced/invoices') },
] %}

{% set title = '' %}
{% set selectedSubnavItem = 'invoices' %}

{% set pluginSettings = craft.invoiced.getPluginSettings() %}
{% set templateOptions = [] %}

{% for template in craft.invoiced.getInvoiceTemplates() %}
    {% set templateOptions = templateOptions|merge([{ label: template.name, value: template.id }]) %}
{% endfor %}

{% block content %}
    <div id="invoice-editor">
        <form method="post" action="{{ url('invoiced/invoices/save') }}">
            {{ csrfInput() }}
            {{ redirectInput('invoiced/invoices/edit/{id}') }}

            <div class="field">
                <div class="heading">
                    <label for="templateId">
                        Invoice Template
                    </label>
                </div>

                {{ forms.selectField({
                    first: true,
                    name: 'templateId',
                    id: 'templateId',
                    options: templateOptions,
                    value: pluginSettings.defaultInvoiceTemplate,
                }) }}
            </div>
            
            <div class="field">
                <div class="heading">
                    <label for="invoiceNumber">
                        Invoice Number
                        <span class="visually-hidden">Required</span>
                        <span class="required" aria-hidden="true"></span>
                    </label>
                </div>
                {{ forms.text({
                    type: 'number',
                    name: 'invoiceNumber',
                    id: 'invoiceNumber',
                    value: craft.invoiced.newInvoiceNumber(),
                    autofocus: true,
                    required: true,
                }) }}
            </div>

            <span class="field-row -flex">
                <div class="field">
                    <div class="heading">
                        <label for="invoiceDate">
                            Invoice Date
                        </label>
                    </div>
                    {{ forms.date({
                        name: 'invoiceDate',
                        id: 'invoiceDate',
                        value: date() | date("Y/m/d")
                    }) }}
                </div>
                <div class="field">
                    <div class="heading">
                        <label for="expirationDate">
                            Expiration Date
                        </label>
                    </div>
                    {{ forms.date({
                        name: 'expirationDate',
                        id: 'expirationDate',
                        value: date() | date_modify("+1 month") | date("Y/m/d")
                    }) }}
                </div>
            </span>

            <div class="field">
                <div class="heading">
                    <label for="phone">
                        Phone number
                    </label>
                </div>

                {{ forms.text({
                    name: 'phone',
                    id: 'phone',
                    value: pluginSettings.phoneFieldDefault
                }) }}
            </div>

            <div class="field">
                <div class="heading">
                    <label for="email">
                        Email
                    </label>
                </div>

                {{ forms.text({
                    name: 'email',
                    id: 'email',
                    value: pluginSettings.emailFieldDefault
                }) }}
            </div>

            <div class="field">
                <div class="heading">
                    <label for="vat">
                        VAT
                    </label>
                </div>

                {{ forms.text({
                    name: 'vat',
                    id: 'vat',
                    type: 'number',
                    value: pluginSettings.vatFieldDefault
                }) }}
            </div>

            <div class="field">
                <div class="heading">
                    <label for="items">
                        Items
                    </label>
                </div>

                {{ forms.editableTable({
                    id: 'invoice-items',
                    name: 'items',
                    allowAdd: true,
                    allowRemove: true,
                    cols: [
                        { type: 'number', min: 1, value: 1, heading: 'Quantity' },
                        { type: 'number', min: 0, step: 0.01, value: 0, heading: 'Unit Price' },
                        { type: 'singleline', heading: 'Description' },
                    ],
                    rows: [
                        [11, 15, "Webdevelopment"],
                        [6, 17.50, "Branding"],
                        [28, 14.50, "Design"],
                    ]
                }) }}
            </div>

            <div class="buttons">
                <input type="submit" class="btn submit" "Create Invoice">
            </div>
        </form>
        <div id="invoice-preview"></div>
    </div>
{% endblock %}