{% extends 'invoiced/_layouts/settings' %}

{% set crumbs = [
    { label: craft.invoiced.getPluginName(), url: url('invoiced') },
    { label: 'Settings', url: url('invoiced/settings') },
    { label: 'Invoice Templates', url: url('invoiced/settings/invoice-templates') },
] %}

{% block actionButton %}
	<a href="{{ url('invoiced/settings/invoice-templates/new') }}" class="btn submit add icon">{{ 'New Template' }}</a>
{% endblock %}

{% block content %}

    {% set templates = craft.invoiced.getInvoiceTemplates() %}
    
    {% if templates|length %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Handle</th>
                    <th>Template</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for template in templates %}
                    <tr>
                        <td>
                            <a href="{{ url('invoiced/settings/invoice-templates/edit/' ~ template.id) }}">{{ template.name }}</a>
                        </td>
                        <td><code>{{ template.handle }}</code></td>
                        <td>{{ template.template }}</td>
                        <td class="thin">
                            <a class="delete icon" title="Delete" role="button"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="light">No invoice templates exist yet.</p>
    {% endif %}
{% endblock %}
